{% extends "base.html.twig" %}

{% block h1 %}<h1>Gestionnaire des Livres</h1>{% endblock %}

<h1>Suppression d'un livre n°{{ id }}</h1>

{% block body %}





<form action="" method="post">
    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
    <a href="{{ path('') }}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}


