{% extends "base.html.twig" %}

{% block body %}

<h2>HELLO</h2>
<p>Nous sommes là sur la page héritage pourtant le reste de la page reste celui de base.html.twig grâce a l'héritage</p>

{% endblock %}

{% block title %}HERITAGE{% endblock %}

{% block h1 %}<h1>Bienvenue à la page Héritage</h1>{% endblock %}